*{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    /* border: 1px solid red; */
}

body{
    color: white;
    background-size: 100%;
    margin: 0px;
}

main{ 
    height: 100vh;
    background: rgb(19,77,113);
    background: linear-gradient(180deg, rgba(19,77,113,1) 0%, rgba(120,167,198,1) 50%, rgba(247,228,191,1) 100%);

    display: flex;
	flex-direction: column;
    justify-content: center;
}

img{
    height: 80%;
}

.box{
    background-color: white;
    color: black;

    text-align: center;
    border-radius: 25px;
    width: 75%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.user-interface{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.btn{
    padding: 20px;
}

.hidden{
    display: none;
}

#mantra-box{
    width: 70%;
    height: 125px;
    margin: 50px;
    opacity: 90%;
    background-color: azure;
    border-bottom: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
}

#selection-box{
    width: 50%;
    height: 100px;
    opacity: 90%;
    background-color: azure;
    border-bottom: 2px solid goldenrod;
    border-right: 2px solid goldenrod;

    text-align: center;
    padding: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#box{
    font-style: italic;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#receive-msg{
    background-color: #134d71;
    color: white;
    opacity: 50%;
    border-radius: 15px;
    height: 40px;
    width: 175px;
    font-size: 16px;
}

#receive-msg:hover{
    background-color: #134d71;
    color: white;
    opacity: 100%;
    border-radius: 15px;
    height: 40px;
    width: 175px;
    font-size: 16px;
}